<div class="daviplata-form">
  <app-form-header></app-form-header>
  <div class="daviplata-body">
    <app-textbox title="Valor" [icon]="valueIcon"></app-textbox>
    <app-textbox title="Número de documento" [icon]="clientIdIcon" type="number"></app-textbox>
    <div class="dropdown">
      <label>Tipo de documento</label>
      <div class="input-group">
        <select class="form-control cursor-pointer" [(ngModel)]="idTypeSelected">
          <option [ngValue]="null" selected>Seleccione una opción</option>
          <option *ngFor="let option of dropdownOptions" [value]="option.value">
            {{ option.key }}
          </option>
        </select>
        <div class="input-group-append">
          <span class="input-group-text">
            <fa-icon [icon]="dropdownIcon"></fa-icon>
          </span>
        </div>
      </div>
      <div class="error-message" *ngIf="!idTypeSelected || idTypeSelected == 'null'">
        <span>Se debe de seleccionar un tipo de identificación.</span>
      </div>
    </div>
  </div>
  <app-form-footer
    [value]="'Validar usuario'"
    (actionEmitter)="validarUsuario()"
    [disabled]="!idTypeSelected"
  ></app-form-footer>
</div>
