@font-face {
  font-family: 'MyriadPro';
  src: url('assets/fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyriadPro', sans-serif;
}

.daviplata-form {
  width: 90%;
  max-width: 480px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  margin: auto;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .daviplata-form {
    margin-top: 20px;
  }
}

.input-group-text {
  background-color: #ed1c27 !important;
  color: white !important;
  border-radius: 0px 5px 5px 0px !important;
  width: 45px !important;
}

.input-group-text > fa-icon {
  margin: auto !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}
